body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    color: indigo;
}
.links {
    overflow: hidden;
    background-color: floralwhite;
}

.links a {
    float: left;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.links img {
    float: right;
    width: 50px;
    height: 50px;
}